.root {
  padding: 10px;
  font-family: monospace;
  font-size: 9px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bolder;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}

.title {
  margin: 0;
  font-family: monospace;
  font-size: 16px;
}

.color_legend {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid gray;
  margin-right: 5px;
}
.otonom {
  background: #edffa4;
}
.mataram {
  background: #ffcba4;
}
.belanda {
  background: #a4fdff;
}
.inggris {
  background: #a4bbff;
}
.jepang {
  background: #ffffff;
}
.nkri {
  background: #ffa4a4;
}

.close {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #888;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.close:hover {
  color: #666;
}
